<template>
  <div class="content">

    <el-table
        :data="themes.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
        style="width: 100%">
      <el-table-column
          label="Тема"
          prop="name">
      </el-table-column>
      <el-table-column
          label="URL"
          prop="url_link"
      >
      </el-table-column>
      <el-table-column
          label="Последнее обновление"
          prop="updated_at">
      </el-table-column>
      <el-table-column
          align="right">
        <template slot="header" slot-scope="scope">
          <el-input
              v-model="search"
              size="mini"
              placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button
              size="mini"
              type="primary" plain
              @click="handleEdit(scope.row)">Изменить
          </el-button>
          <el-button
              size="mini"
              type="danger" plain
              @click="handleDelete(scope.row)">Удалить
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog class="temp-wrapper"
        :title="getTitle()"
        :visible.sync="drawer">
      <el-select class="object-select" v-model="editedRow.url_id" filterable placeholder="Select">
        <el-option
            v-for="url in urlList"
            :key="url.id"
            :label="url.url"
            :value="url.id"
        >
        </el-option>
      </el-select>
      <el-button type="primary" plain class="object-submit" @click="handleConfirm()">Сохранить</el-button>
    </el-dialog>
  </div>
</template>

<script>
module.exports = {
  props: [
    'themes',
    'url-list',
  ],
  data() {
    return {
      editedRow: {},
      search: '',
      drawer: false,
      propChanged: false
    }
  },
  methods: {
    updateRelation() {
      this.$emit('save', this.editedRow.relation_id, this.editedRow.url_id)
    },
    handleEdit(row) {
      this.drawer = true
      this.editedRow = row
    },
    handleDelete(row) {
      this.$confirm('Действительно удалить маршрут ' + row.name + ' => ' + row.url_link + ' ?')
          .then(_ => {
            this.deleteRelation(row.relation_id)
          })
          .catch(_ => {
          });
    },
    handleConfirm() {
      this.$confirm('Действительно сохранить?')
          .then(_ => {
            this.updateRelation()
          })
          .catch(_ => {
          });
    },
    getTitle() {
      return 'Редактирование темы: ' + this.editedRow.name
    }
  },
  created() {
  },
}
</script>

<style scoped>

</style>