<template>
  <el-container>
    <el-card>
      <el-header>
        <h1 class="header-title">Менеджер маршрутной службы</h1>
        <el-button class="edit-btn"
                   type="success" plain
                   @click="handleEditObjects()">Редактор объектов
        </el-button>
        <el-button class="edit-btn"
                   type="success" plain
                   @click="handleEditUrls()"
        >Редактор URL
        </el-button>

        <el-dialog class="header-wrapper"
                   :title="getEditTitle()"
                   :visible.sync="drawerEdit">
          <el-collapse accordion>
            <el-collapse-item>
              <template slot="title">
                Добавить новый
              </template>
              <div>Consistent with real life: in line with the process and logic of real life, and comply with languages and habits that the users are used to;</div>
              <div>Consistent within interface: all elements should be consistent, such as: design style, icons and texts, position of elements, etc.</div>
            </el-collapse-item>
          </el-collapse>
          <el-button type="primary" plain class="object-submit" @click="handleConfirm()"
          >Сохранить
          </el-button>
        </el-dialog>

      </el-header>

      <el-divider></el-divider>

      <el-main>
        <el-tabs type="card">
          <el-tab-pane label="Входящая">
            <inbound @save="updateRelation"
                     @delete="deleteRelation"
                     :url-list="urlList"
                     :themes="themes"
            ></inbound>
          </el-tab-pane>
          <el-tab-pane label="Исходящая">
            <outbound @save="updateRelation"
                      @delete="deleteRelation"
                      :url-list="urlList"
                      :buttons="buttons"
            ></outbound>
          </el-tab-pane>
        </el-tabs>
      </el-main>
    </el-card>
  </el-container>
</template>

<script>
const ajaxURL = '../server/index.php'
module.exports = {
  data() {
    return {
      urlList: [],
      buttons: [],
      themes: [],
      drawerEdit: false,
      drawerTitle: ''
    }
  },
  components: {
    'inbound': httpVueLoader('components/inbound.vue'),
    'outbound': httpVueLoader('components/outbound.vue'),
  },
  methods: {
    updateRelation(relationId, urlId) {
      axios.get(ajaxURL, {
        params: {
          action: 'updateRelation',
          relationId: relationId,
          urlId: urlId
        }
      })
          .then(response => {
            if (response.data.type === 'success') {
              this.updateLists()
              this.$notify.success({
                title: 'Готово',
                message: 'Маршрут успешно изменен !'
              })
            } else {
              this.$notify.error({
                title: 'Ошибка',
                message: response.data.message
              })
              console.error(response.data.message)
            }
          })
          .catch(err => function () {
            this.$notify.error({
              title: 'Ошибка',
              message: err
            })
            console.error(err)
          })
    },
    deleteRelation(relationId) {
      axios.get(ajaxURL, {
        params: {
          action: 'deleteRelation',
          relationId: relationId
        }
      })
          .then(response => {
            response.data
            this.updateLists()
            this.$notify.success({
              title: 'Готово',
              message: 'Маршрут успешно удален!'
            })
          })
          .catch(err => function () {
            this.$notify.error({
              title: 'Ошибка',
              message: err
            })
            console.error(err)
          })
    },
    getUrlList() {
      axios.get(ajaxURL, {
        params: {
          action: 'getUrlList'
        }
      })
          .then(response => {
            this.urlList = response.data.data
          })
          .catch(err => console.error(err))
    },
    getButtonsList() {
      axios.get(ajaxURL, {
        params: {
          action: 'getButtonsList'
        }
      })
          .then(response => {
            this.buttons = response.data.data
          })
          .catch(err => console.error(err))
    },
    getThemesList() {
      axios.get(ajaxURL, {
        params: {
          action: 'getThemesList'
        }
      })
          .then(response => {
            this.themes = response.data.data
          })
          .catch(err => console.error(err))
    },
    updateLists() {
      this.getButtonsList()
      this.getThemesList()
    },
    handleEditObjects() {
      this.drawerEdit = true
      this.drawerTitle = 'объектов'
    },
    handleEditUrls() {
      this.drawerEdit = true
      this.drawerTitle = 'URLs'
    },
    getEditTitle(name) {
      return 'Редактор ' + this.drawerTitle
    }
  },
  created() {
    this.getUrlList()
    this.getButtonsList()
    this.getThemesList()
  }
}
</script>

<style>
.el-container {
  max-width: 1280px;
  margin: 0 auto;
}

.el-card {
  width: 100%;
}

.template {
  display: grid;
  grid-gap: 10px;
}

.header-title {
  font-family: sans-serif;
  color: #232323;
  font-size: 2rem;
}

.el-header {
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
}

.edit-btn {
  height: 43%;
}

.header {
  /*border-bottom: 1px solid #DCDFE6;*/
}

.header-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.in-btn, .out-btn {
  margin: 10px;
  padding: 5px;
  text-align: center;
  border: 1px solid #DCDFE6;
  border-radius: 15px;
}

.in-btn:hover, .out-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.content {
  /*display: grid;*/
  /*grid-gap: 30px;*/
  /*justify-content: center;*/
  padding: 10px;
}

.object-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.object-block div {
  margin: 0 10px;
}

.object-block:after {
  content: "";
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  background: #DCDFE6;
}

.object-name {
  border: 1px solid #409EFF;
  min-width: 100px;
  text-align: center;
  border-radius: 15px;
  padding: 4px;
  color: #232323;
}

.object-select {

}

.object-updatedAt {

}

.object-updatedAt p {
  margin: 0;
  color: #232323;
}

.object-submit {
  padding: 10px 15px;
}

.active {
  background: #8ef68e;
}

.el-tabs__nav {
  /*margin-left: 40%;*/
}

#url-list {
  width: 120px;
  height: 25px;
  outline: 1px solid green;
  border: none;
  text-align: center;
  background: none;
  font-family: sans-serif;
}

.el-table thead {
  color: #65676a;
}

.header-wrapper .el-dialog {
  height: 80%;
  width: 69%;
  margin: 0 auto;
}

.el-dialog {
  height: 60%;
}

.el-dialog__header {
  border-bottom: 1px solid #DCDFE6;
}

.header-wrapper .el-dialog__body {

}

.temp-wrapper .el-dialog__body {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 4fr 1fr;
}
</style>